GROQ_API_KEY=suaChaveDeveEstarAqui
PROJECT=EscolhaUmNumero

MODEL_AGENT=llama-3.3-70b-versatile
CODER_URL=http://coder-agent:8000
REVIEWER_URL=http://reviewer-agent:8000
CONTEXT_URL=http://context-agent:8000